<%- include("header") -%>
    <h2>Hello About</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium eveniet numquam ullam ratione accusamus
        dignissimos fuga error, quae perspiciatis. Eos ex similique eligendi at animi labore tenetur in dolores
        inventore.</p>
    <%- include("footer") -%>